<?xml version="1.0" ?>
<launch>
    <rosparam file = "$(find pid_test)/config/system_params.yaml" command = "load"  />
    <node name="system" pkg="pid_test" type="system.py" output="screen"/>
    <node name="rqt_plot" pkg="rqt_plot" type="rqt_plot" output="screen"  args="/motor_output/output /motor_input/input /set_point/setPoint"/>
</launch>